<div class='row front_content_main_row profile_station_edit_main_row'>
  <div class="w500_centerd" id="content">
    <div class="row front_page_content_row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <% @item.valid_station_imgs.each do |vimg| %>
                <div class="col-3">
                  <img class='edit_sm_list_img' src="<%= vimg.image_sm_url %>" />
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="<%= @item.profile_station_images_list_url %>">Add/delete/edit station images</a>
          </div>
        </div>
        <%= form_for(@item, url: { action: :update }, html: { class: "row front_edit_form" }) do |f| %>
          <div class="col-12">
            <%= render "/layouts/my_error_messages_row", item: @item %>
            <div class="row">
              <div class="col-12">
                <div class="field form-group">
                  <%= f.label :station_name %>
                  <em>(<%= UserStation.validators_on(:name)[0].options[:maximum] %> characters maximum)</em><br />
                  <%= f.text_field :name, class: "form-control form-control-sm" %>
                </div>
              </div>
            </div>
            <div class="row fill_coords_main_block">
              <div class="col-10">
                <div class="row">
                  <div class="col-5">
                    <%= f.label :station_latitude %>
                  </div>
                  <div class="col-7">
                    <%= f.text_field :station_lat_f64, type: :number, step: '0.0000000000000001', value: sprintf('%.15f', @item.station_lat_f64), :class => 'form-control form-control-sm fill_coords_lat' %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <%= f.label :station_longitude %>
                  </div>
                  <div class="col-7">
                    <%= f.text_field :station_lng_f64, type: :number, step: '0.0000000000000001', value: sprintf('%.15f', @item.station_lng_f64), :class => 'form-control form-control-sm fill_coords_lng' %>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <button type="button" class='btn btn-outline-success btn-sm' onclick="return fill_coords_from_gmaps_str(this);">
                  Fill
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a target="_blank" href="http://www.google.com/maps/place/<%= ERB::Util.url_encode(@item.name) %>/@<%= @item.station_lat_f64 %>,<%= @item.station_lng_f64 %>,17z">
                  Show at google_maps v1
                </a><br/>
                <a target="_blank" href="http://maps.google.com/maps?&z=17&q=<%= @item.station_lat_f64 %>+<%= @item.station_lng_f64 %>&ll=<%= ERB::Util.url_encode(@item.name) %>">
                  Show at google_maps v2
                </a><br/>
                <a target="_blank" href="http://maps.google.com/?q=<%= ERB::Util.url_encode(@item.name) %>@<%= @item.station_lat_f64 %>,<%= @item.station_lng_f64 %>">
                  Show at google_maps v3
                </a><br/>
                <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=<%= @item.station_lat_f64 %>,<%= @item.station_lng_f64 %>&origin=<%= ERB::Util.url_encode(@item.name) %>&destination=<%= ERB::Util.url_encode(@item.name) %>">
                  Show at google_maps v4
                </a><br/>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="field form-group">
                  <%= f.label :station_description_text %>
                  <em>(<%= UserStation.validators_on(:station_description_text)[0].options[:maximum] %> characters maximum)</em><br />
                  <%= f.text_area :station_description_text, class: "form-control form-control-sm" %>
                </div>
                <br /><br />
                <div class="form-group">
                  <%= f.submit "Save", class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-12">
            <% if @item.deleted_at.nil? %>
              <%= button_to "Delete this station", profile_my_station_path(@item.id), method: :delete, class: 'btn btn-danger btn-sm pull-right', onclick: 'return confirm("Sure?");' %>
            <% else %>
              Station deleted_at: <%= @item.deleted_at.client_stamp_html %>, resave for restore.<br/>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <br /><br /><br /><br /><br /><br />
            <%= link_to "Back to the station page", profile_my_station_path(@item.id) %>
            <br/><br/><br/><br/><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

