<div class='row front_content_main_row profile_trip_edit_main_row'>
  <div class="w500_centerd" id="content">
    <div class="row front_page_content_row">
      <div class="col-12">
        <%= render "/profile/my_trips/my_trips/user_profile_my_trip_publish_item_row", item: @item %>
        <%= form_for(@item, url: { action: :update }, html: { class: "row front_edit_form" }) do |f| %>
          <div class="col-12">
            <%= render "/layouts/my_error_messages_row", item: @item %>
            <div class="row">
              <div class="col-2">
                <label title="To MyVehicles list">
                  <a href="<%= profile_my_vehicles_path() %>">Vehicle</a>:
                </label>
              </div>
              <div class="col-10">
                <%= f.collection_select(:vehicle_id, current_user.vehicles.active.to_a, :id, :name, {:include_blank => true, include_hidden: false}, { :multiple => false, :class => 'form-control form-control-sm' }) %>
              </div>
            </div>
            <% if @item.vehicle %>
              <div class="row">
                <div class="col-2">&nbsp;</div>
                <div class="col-10">
                  Choosed vehicle with
                  <a href="<%= profile_my_vehicle_path(@item.vehicle_id) %>" onclick="return show_in_modal_link(this, 'proj_modal_main profile_my_vehicle_modal');" >
                    <%= @item.vehicle.vehicle_seats_cnt %> seats
                  </a>.<br/><br/>
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="col-2">
                <label title="To MyRoutes list">
                  <a href="<%= profile_my_routes_path() %>">Route</a>:
                </label>
              </div>
              <div class="col-10">
                <%= f.collection_select(:user_route_id, current_user.user_routes.active.to_a, :id, :name, {:include_blank => true, include_hidden: false}, { :multiple => false, :class => 'form-control form-control-sm' }) %>
              </div>
            </div>
            <% if @item.user_route %>
              <div class="row">
                <div class="col-2">&nbsp;</div>
                <div class="col-10">
                  Choosed route with
                  <a href="<%= profile_my_route_path(@item.user_route_id) %>" onclick="return show_in_modal_link(this, 'proj_modal_main profile_my_route_modal');">
                    <%= @item.user_route.valid_route_points.count %> points
                  </a>.<br/><br/>
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <%= f.label :trip_start_time %>
                  <div class="input-group">
                    <input value='<%= @item.trip_start_time_with_default.client_to_time_picker_str %>' type="text" name="trip_start_time" class='form-control form-control-sm date_time_picker' data-target='#event_start_time_picker' id='trip_start_time_picker' data-toggle='datetimepicker'  />
                    <div class="input-group-append" data-target="#trip_start_time_picker" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class='fa fa-calendar'></i></div>
                    </div>
                  </div>
                  <small class="form-text text-muted">Start time of the trip.</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <%= f.submit "Save", class: 'btn btn-primary' %><br/><br/>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @item.user_route %>
          <div class="row">
            <div class="col-12">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th></th>
                    <th>PointLogo</th>
                    <th>TripPoint info</th>
                    <th>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @item.user_route.valid_route_points.each_with_index do |rpoint, indx| %>
                    <tr>
                      <td><%= indx + 1 %></td>
                      <td>
                        <img src="<%= rpoint.route_logo_sm_url %>" />
                      </td>
                      <td>
                        Station: <%= rpoint.user_station.name.ehtml %><br/><br/>
                        Visit: <%= rpoint.visit_time_html(@item.trip_start_time_unix_with_default) %>
                      </td>
                      <td>
                        <a href="<%= profile_my_trip_trip_point_path(@item.id, rpoint.id) %>" class="fa fa-edit" aria-hidden="true" title='View route point info' onclick="return show_in_modal_link(this, 'proj_modal_main client_station_modal');"></a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <br /><br /><br /><br />
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-12">
            <% if @item.deleted_at.nil? %>
              <%= button_to "Delete this trip", profile_my_trip_path(@item.id), method: :delete, class: 'btn btn-danger btn-sm pull-right', onclick: 'return confirm("Sure?");' %>
            <% else %>
              Trip deleted_at: <%= @item.deleted_at.client_stamp_html %>, resave for restore.<br/>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <br /><br /><br /><br /><br /><br />
            <%= link_to "Back to the trip page", profile_my_trip_path(@item.id) %>
            <br/><br/><br/><br/><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

