<div class='row front_content_main_row my_tickets_list_main_row'>
  <div class="w500_centerd" id="content">
    <div class="row front_page_content_row">
      <div class="col-12">
        <div class="row front_page_title_row hidden_in_modal">
          <div class="col-12">
            <h3>My tickets</h3>
          </div>
        </div>
        <div class="row front_page_content_row">
          <div class="col-12">
            <form class="row profile_my_events_search_row" method='GET' action='<%= profile_my_tickets_path %>'>
              <div class="col-8">
                <input type='text' class='form-control form-control-sm' placeholder='Search' name='search' value="<%= params[:search].to_s.ehtml %>" />
              </div>
              <div class="col-2">
                <button class='btn btn-sm btn-success' type='submit'>Search</button>
              </div>
              <div class="col-2">
                <a class='btn btn-sm btn-light' href='<%= profile_my_tickets_path %>'>Clear</a>
              </div>
            </form>
            <div class="row profile_my_events_head_row">
              <div class="col-12 col-md-5">
                Found <%= @items.total_count %> tickets
              </div>
              <div class="col-12 col-md-7 pagination_col">
                <%= paginate @items %>
              </div>
            </div>
            <div class="row front_parties_list_row my_events_list_row">
              <% @items.each do |item| %>
                <div class="col-12 front_tickets_list_item">
                  <%= render(:partial => 'user_profile_my_ticket_list_item', locals: { item: item }) %>
                </div>
              <% end %>
            </div>
            <div class="row front_parties_bottom_row">
              <div class="col-12 col-md-5">&nbsp;</div>
              <div class="col-12 col-md-7 pagination_col">
                <%= paginate @items %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
