<div class='row front_content_main_row profile_route_edit_main_row'>
  <div class="w500_centerd" id="content">
    <div class="row front_page_content_row">
      <div class="col-12">
        <%= form_for(@item, url: { action: :update }, html: { class: "row front_edit_form" }) do |f| %>
          <div class="col-12">
            <%= render "/layouts/my_error_messages_row", item: @item %>
            <div class="row">
              <div class="col-12">
                <div class="field form-group">
                  <%= f.label :route_name %>
                  <em>(<%= UserRoute.validators_on(:name)[0].options[:maximum] %> characters maximum)</em><br />
                  <%= f.text_field :name, class: "form-control form-control-sm" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="field form-group">
                  <%= f.label :route_description_text %>
                  <em>(<%= UserRoute.validators_on(:route_description_text)[0].options[:maximum] %> characters maximum)</em><br />
                  <%= f.text_area :route_description_text, class: "form-control form-control-sm" %>
                </div>
                <div class="form-group">
                  <%= f.submit "Save", class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-12">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th></th>
                  <th>PointLogo</th>
                  <th>RoutePoint info</th>
                  <th>
                    <a href="<%= new_profile_my_route_route_point_path(@item.id) %>" class="fa fa-plus" aria-hidden="true" title='Add new route point' onclick="return show_in_modal_link(this, 'proj_modal_main client_station_modal');"></a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @item.valid_route_points.each_with_index do |rpoint, indx| %>
                  <tr>
                    <td><%= indx + 1 %></td>
                    <td>
                      <img src="<%= rpoint.route_logo_sm_url %>" />
                    </td>
                    <td>
                      Station: <%= rpoint.user_station.name.ehtml %><br/><br/>
                      Visit: <%= rpoint.visit_time_html %>
                    </td>
                    <td>
                      <a href="<%= profile_my_route_route_point_path(@item.id, rpoint.id) %>" class="fa fa-edit" aria-hidden="true" title='View route point info' onclick="return show_in_modal_link(this, 'proj_modal_main client_station_modal');"></a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br /><br /><br /><br />
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <% if @item.deleted_at.nil? %>
              <%= button_to "Delete this route", profile_my_route_path(@item.id), method: :delete, class: 'btn btn-danger btn-sm pull-right', onclick: 'return confirm("Sure?");' %>
            <% else %>
              Route deleted_at: <%= @item.deleted_at.client_stamp_html %>, resave for restore.<br/>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <br /><br /><br /><br /><br /><br />
            <%= link_to "Back to the route page", profile_my_route_path(@item.id) %>
            <br/><br/><br/><br/><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

